compute_band_omega.py
compute_band_spectro.py
compute_band_swirl.py
compute_contour_freqs.py
compute_swirl_spectrograms.py
compute_swirl_spectrograms.sh
filter_velocity_swirl.py
make_swirl_figs_TKE.py
make_swirl_figs_var.py
make_swirl_figs.py
make_swirl_figs.sh
uniform_sample.py
swirl.sh